<header class="mb-auto">
  <div class="cover-container d-flex align-items-center justify-content-between">
    <h3 class="mb-0">
      <a href="/" class="brand-link">YelpCamp</a>
    </h3>

    <nav class="nav nav-masthead">
      <a class="nav-link <%= activePage === 'home' ? 'active' : '' %>" href="/">Home</a>
      <a class="nav-link <%= activePage === 'campgrounds' ? 'active' : '' %>" href="/campgrounds">Campgrounds</a>
      <% if (!currentUser) { %>
        <a class="nav-link <%= activePage === 'login' ? 'active' : '' %>" href="/login">Login</a>
        <a class="nav-link <%= activePage === 'register' ? 'active' : '' %>" href="/register">Register</a>
      <% } else { %>
        <a class="nav-link" href="/logout">Logout</a>
      <% } %>
    </nav>
  </div>
</header>
